@import "@/styles/base.scss";


@mixin cy-component-btn-none-base(
  $thisWidth: auto,
  $thisHeight: auto,
  $thisPadding: 0,
) {
  height: $thisHeight;
  width: $thisWidth;
  min-height: $thisHeight;
  min-width: $thisWidth;
  padding: $thisPadding;
  border-radius: 4px;
}


.cy-component-btn-none-grow {
  @include cy-component-btn-none-base(
    $thisPadding: .4rem,
  )
}


.cy-component-ratio {

  .q-checkbox__inner:not(.q-checkbox__inner--truthy) {
    color: var(--cy-primary);

  }

  .q-checkbox__inner--truthy {
    color: var(--cy-primary);
  }

  .q-radio__inner:not(.q-radio__inner--truthy) {
    color: var(--cy-primary);
    opacity: .75;
  }

  .q-radio__inner--truthy {
    color: var(--cy-primary);
  }

}
